# Python

__pycache__/
*.py[cod]
*$py.class

# Virtual environments

venv/
env/
ENV/
.venv/

# Conda

.envrc

# VS Code

.vscode/

# Jupyter

.ipynb_checkpoints/

# Environment variables

.env

# Logs

*.log

# Model artifacts

models/*.pkl

# Generated reports

artifacts/generated_reports/

# Temporary files

artifacts/temp/

# SHAP plots

artifacts/shap_plots/

# Extracted JSON

artifacts/extracted_json/

# OS files

.DS_Store
Thumbs.db